name: Build Status

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
   group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
   cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.9]
        event-name: [push]

    steps:
    - uses: actions/checkout@v2

    - name: Install System Dependencies (Windows)
      run: |
          git clone https://github.com/Microsoft/vcpkg
          cd vcpkg
          .\bootstrap-vcpkg.bat
          .\vcpkg.exe install boost-algorithm boost-system boost-uuid gtest
          .\vcpkg.exe integrate install
      if: ${{ matrix.os == 'windows-latest' }}
      env:
        VCPKG_DEFAULT_TRIPLET: x64-windows
        VCPKG_PLATFORM_TOOLSET: v142

    - name: Install System Dependencies (Mac)
      run: |
        brew install boost clang-format googletest
      if: ${{ matrix.os == 'macos-latest' }}

    - name: Install System Dependencies (Linux)
      run: |
        wget https://boostorg.jfrog.io/artifactory/main/release/1.71.0/source/boost_1_71_0.tar.gz >/dev/null 2>&1
        tar xfz boost_1_71_0.tar.gz
        cd boost_1_71_0
        ./bootstrap.sh
        sudo ./b2 -j8 --with-system install
        sudo apt-get install libgtest-dev
      if: ${{ matrix.os == 'ubuntu-latest' }}

    - name: Lint
      run: |
        ./scripts/lint.sh
      if: ${{ matrix.os == 'macos-latest' }}

    - name: Build
      run: |
        mkdir build
        cmake -Bbuild .
        cmake --build build/ --target all -- -j2
      if: ${{ matrix.os != 'windows-latest' }}

    - name: Build
      run: |
        mkdir build
        cmake -B build -A x64 -DCMAKE_TOOLCHAIN_FILE="vcpkg\scripts\buildsystems\vcpkg.cmake" -DCMAKE_BUILD_TYPE=Debug
        cmake --build build --config Debug -- /m:2
      if: ${{ matrix.os == 'windows-latest' }}

    - name: Test
      run: |
        cd build
        ctest
      if: ${{ matrix.os == 'ubuntu-latest' }}
